html {
    scroll-behavior: smooth;
}

.button-hover-effect {
    position: relative;
    overflow: hidden;
}

.button-hover-effect::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0%;
    background-color: #a18072;
    transition: height 0.3s ease;
    z-index: 0;
}

.button-hover-effect:hover::before {
    height: 100%;
}

.button-hover-effect span {
    position: relative;
    z-index: 10;
    transition: color 0.3s;
}

.button-hover-effect:hover span {
    color: white;
}

.timeline-line {
    position: relative;
}

.timeline-line::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.75rem;
    width: 1px;
    height: 10rem;
    background-color: #f0f0f0;
}

@media (max-width: 1024px) {
    .timeline-line::before {
        height: 8rem;
    }
}

@media (max-width: 768px) {
    .timeline-line::before {
        height: 6rem;
    }
}
